{% extends "template.html" %}
{% block title %}Add Reservation{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h3>Add New Reservation</h3>
    </div>
</div>
<div class="row center-align">
    <div class="col s12 m6 offset-m3">
        <div class="card">
            <div class="card-content">
                <div class="input-field">
                    <input type="text" id="title" class="validate" name="title" form="form1">
                    <label for="title">Title</label>
                </div>
                <div class="input-field">
                    <input type="text" id="category" class="validate" name="category" form="form1">
                    <label for="category">Category</label>
                </div>
                <div class="input-field">
                    <textarea id="description" class="materialize-textarea" form="form1" name="description"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="card-action center-align">
                <button class="btn btn-large flat-green" form="form1">submit</button>
            </div>
        </div>
    </div>
</div>
<form id="form1" action="{{ url_for('new_book_submit') }}" method="post"></form>
{% endblock %}