{% extends "template.html" %}
{% block title %}Add Book{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h3>Add New Book</h3>
    </div>
</div>
<div class="row center-align">
    <div class="col s12 m8 offset-m2">
        <div class="card hoverable">
            <div class="card-content">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Book Cover</span>
                        <input type="file" name="file" id="" form="form1">
                    </div>
                    <div class="file-path-wrapper">
                        <input type="text" name="" id="" class="file-path validate" placeholder="Upload a book cover (optional)">
                    </div>
                </div>
                <div class="input-field">
                    <input type="text" id="isbn" class="validate" name="isbn" form="form1" required>
                    <label for="isbn">ISBN</label>
                </div>
                <div class="input-field">
                    <input type="text" id="title" class="validate" name="title" form="form1" required>
                    <label for="title">Title</label>
                </div>
                <div class="input-field">
                    <input type="text" id="author" class="validate" name="author" form="form1" required>
                    <label for="author">Author</label>
                </div>
                <div class="input-field">
                    <input type="number" min="868" max="{{ year }}" id="year" class="validate" name="year" form="form1" required>
                    <label for="year">Year published</label>
                </div>
                <div class="input-field">
                    <select name="category" id="category" form="form1" required>
                    <option value="" disabled selected>Choose a category</option>
                    {% for __, category in categories.items() %}
                    <option value="{{ __ }}">{{ category }}</option>
                    {% endfor %}
                    </select>
                    <label for="category">Category</label>
                </div>
            </div>
            <div class="card-action center-align">
                <button class="btn btn-large flat-green" form="form1">submit</button>
            </div>
        </div>
    </div>
</div>
<form id="form1" action="{{ url_for('new_book_submit') }}" method="post" enctype="multipart/form-data"></form>
{% endblock %}