{% extends "template.html" %}
{% block title %}Add Student{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h3>Add New Student</h3>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card hoverable">
            <div class="card-content">
                <div class="input-field">
                    <input type="text" id="id" class="validate" name="id" form="form1">
                    <label for="id">Student ID</label>
                </div>
                <div class="row">
                    <div class="col s12 m6 input-field">
                        <input type="text" id="first" class="validate" name="first" form="form1">
                        <label for="first">First Name</label>
                    </div>
                    <div class="col s12 m6 input-field">
                        <input type="text" id="last" class="validate" name="last" form="form1">
                        <label for="last">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="card-action center-align">
                <button class="btn btn-large flat-green" form="form1">submit</button>
            </div>
        </div>
    </div>
</div>
<form id="form1" action="{{ url_for('new_student_submit') }}" method="post"></form>
{% endblock %}