{% extends "template.html" %}
{% block title %}Admin Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <img src="https://media.giphy.com/media/u00DkhlFRgkei3d3jG/giphy.gif" alt="" class="rounded" style="width: 10rem;">
        <h4>Hey Admin, Welcome to the Library Management System!</h4>
        <p class="flow-text">Utilize the bar located on the left side of your screen to navigate through our system.</p>
    </div>
</div>
{% endblock %}