{% extends "template.html" %}
{% block title %}{{ student.first.upper() }} {{ student.last.upper() }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h3>
            <a href="{{ url_for('students') }}" class="material-icons">arrow_back</a>
            {{ student.first.upper() }} {{ student.last.upper() }}
        </h3>
        <h6>{{ student.id }}</h6>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="divider"></div>
        <br>
    </div>
</div>
<div class="row">
	<div class="col s12">
		<div class="input-field">
			<input id="first" type="text" name="first" value="{{ student.first }}" form="form1">
			<label for="first">First Name</label>
		</div>
		<div class="input-field">
			<input id="last" type="text" name="last" value="{{ student.last }}" form="form1">
			<label for="last">Last Name</label>
		</div>
		<div class="input-field">
			<input id="id" type="number" name="id" value="{{ student.id }}" form="form1">
			<label for="id">Student ID</label>
		</div>
		<div class="input-field">
			<button form="form1" class="btn flat-green" type="submit">edit</button>
		</div>
	</div>
</div>
<input type="hidden" name="_id" value="{{ student._id }}" form="form1">
<input type="hidden" name="prev_id" value="{{ student.id }}" form="form1">
<form action="{{ url_for('edit_student') }}" id="form1" method="POST"></form>
{% endblock %}
{% block onload_script %}
{% endblock %}