{% extends "template.html" %}
{% block title %}Students{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h3>Students List <a href="{{ url_for('new_student') }}" class="material-icons">add_circle_outline</a></h3>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card hoverable">
            <div class="card-content">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <th>{{ student.id }}</th>
                            <td><b>{{ student.last.upper() }}</b>, {{ student.first.upper() }}</td>
                            <td>
                                <a href="{{ url_for('student', studid=student.id) }}" class="material-icons grey-text">pageview</a>
                                <a href="{{ url_for('delete_student', studid=student.id) }}" class="material-icons red-text">delete_forever</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}