@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700i,800');

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media (max-width: 800px){
    .bookcoverimg{
        max-height: 400px !important;
    }
    .res{
        text-align: center;
        margin-top: 1rem;
    }
}

@media (min-width: 801px){
    .res{
        text-align: right;
    }
}

@media (min-width: 1200px){
    .toc{
        right: 6rem !important;
    }
}

@media (max-width: 1299px){
    .icn{
        font-size: 10rem;
    }

    .usercard{
        visibility: hidden !important;
        position: absolute !important;
        top: -3000% !important;
    }
}

.fet{
    position: absolute !important;
    z-index: 1000 !important;
    bottom: 5rem !important;
    right: 5rem !important;
}

.toc{
    position: absolute !important;
    right: 9rem ;
}

.icn{
    font-size: 5rem;
}

.tap-target-content > div > div > *{
    color: white !important;
}

.tap-target-content > div > div > input{
    border-bottom-color: #f9f9f9 !important;
}

.tap-target-content > div > div > input:focus{
    border-bottom-color: #00887A !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.card > .card-content > span.card-title{
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
}

h6.bookdetails_h6 span.pointer{
    visibility: hidden;
}

h6.bookdetails_h6:hover span.pointer{
    visibility: visible;
}

.pointer{
    cursor: pointer;
}

.flat-green{
    background-color: #00887A;
}

.flat-green-text{
    color: #00887A;
}

.flat-peach{
    background-color: #ffccbc;
}

.flat-peach-text{
    color: #ffccbc;
}

.flat-sky{
    background-color: #d3e3fc;
}

.flat-sky-text{
    color: #d3e3fc;
}

.flat-blue{
    background-color: #77a6f7;
}

.flat-blue-text{
    color: #77a6f7;
}

span.rounded.material-icons{
    cursor: default;
}

a > .card{
    color: black;
}

.rounded{
    border-radius: 50%;
}

main{
    padding-top: 1rem !important;
    padding-bottom: 5rem !important;
    padding-left: 10rem !important;
}

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden !important;
}

.box{
    border: 0 !important;
    background: none !important;
    display: block !important;
    margin: 20px auto !important;
    border: 2px solid #00887A !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    width: 20rem !important;
    outline: none !important;
    color: #015249 !important;
    border-radius: 24px !important;
    transition: 0.25s !important;
    height: 10px !important;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.card{
    margin: 5px !important;
}

.gradient-background{
    background: linear-gradient(45deg, #77a6f7, #00887A) !important;
    border: 0px !important;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* _-_-_-_-__ morphing navigation styling __-_-_-_-_ */

.header {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: absolute !important;
}

.navigation {
    width: 100px;
    height: 100%;
    display: block;
    padding-right: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #77a6f7, #00887A);
    border-radius: 0% 50% 350% 0%;
    perspective: 800;
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
    z-index: 100;
}

.logo {
    width: 70px;
    height: 70px;
    display: block;
    position: fixed;
    top: 8%;
    left: 15%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: rotateY(-360deg);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon {
    width: 55px;
    height: 44px;
    display: block;
    position: relative;
    top: 10rem;
    left: 35%;
    background: hsla(312, 51%, 41%, 0.0);
    cursor: pointer;
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon .topBar {
    width: 55px;
    height: 2px;
    display: block;
    background: #fff;
    /* text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    position: fixed;
    top: 11rem;
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon .middleBar {
    width: 55px;
    height: 2px;
    display: block;
    background: #fff;
    /* text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    position: fixed;
    top: 12rem;
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon .bottomBar {
    width: 35px;
    height: 2px;
    display: block;
    background: #fff;
    /* text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    position: fixed;
    top: 13rem;
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation .navigation__ul {
    float: right;
    margin-top: 3rem;
    opacity: 0;
    visibility: hidden;
    transform: rotateY(-90deg) translateX(-300px);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation .navigation__ul li {
    list-style: none;
    text-align: right;
}

.navigation .navigation__ul a {
    display: block;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    /* text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    margin-bottom: 15px;
}

.navigation .navigation__social {
    width: 100%;
    height: 30px;
    padding-right: 45px;
    position: fixed;
    bottom: 18%;
}

.navigation .navigation__social-ul {
    float: right;
    list-style: none;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transform: rotateY(-90deg) translateX(-300px);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation .navigation__social-ul li {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(35px);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation .social-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 15px;
}

.navigation-open {
    width: 350px;
    height: 100%;
    display: block;
    background: linear-gradient(45deg, #77a6f7, #00887A);
    position: fixed;
    left: 0;
    border-radius: 0% 1% 1% 0%;
}

.navigation-open .logo {
    left: 68%;
    transform: rotateY(0);
}

.navigation-open .navigation__icon {
    left: 80%;
}

.navigation-open .navigation__ul {
    opacity: 1;
    visibility: visible;
}

.navigation-open .navigation__social-ul {
    opacity: 1;
    visibility: visible;
}

.navigation-open .topBar {
    top: 6rem;
    transform: rotate(45deg);
}

.navigation-open .middleBar {
    width: 0;
    top: 7rem;
    opacity: 0;
    visibility: hidden;
    transform: translateX(30px);
}

.navigation-open .bottomBar {
    width: 55px;
    top: 6rem;
    transform: rotate(-45deg);
}

.navigation-open .navigation__ul {
    transform: rotateY(0) translateX(0);
}

.navigation-open .navigation__social-ul {
    transform: rotateY(0) translateX(0);
}

.navigation-open .navigation__social-ul li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.navigation-open .navigation__social-ul li:nth-child(1) {
    transition-delay: .5s;
}

.navigation-open .navigation__social-ul li:nth-child(2) {
    transition-delay: .46s;
}

.navigation-open .navigation__social-ul li:nth-child(3) {
    transition-delay: .43s;
}

.navigation-open .navigation__social-ul li:nth-child(4) {
    transition-delay: .4s;
}

.bookcovertitle > p {
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.img-basket {
    display: block;
    box-sizing: border-box;
    align-items: center;
}

.bookcover {
    position: relative;
    display: inline-block;
    font-size: 20px;
    transition: 450ms all;
}

.bookcoverimg{
    max-height: 600px;
}

.bookcoverdetails {
    color: white !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;
    margin-bottom: 0.6rem !important;
}

.bookcoverdetails:after,
.bookcoverdetails:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
}

.bookcoverdetails:after {
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.bookcoverdetails:before {
    text-align: left;
    z-index: 2;
}

.bookcover:hover .bookcoverdetails {
    opacity: 1;
}

.bookcovertitle {
    position: absolute;
    bottom: 0;
    padding: 10px;
}


/* netflix style carousel */
.tile__title > p {
    text-align: left;
    width: inherit;
    max-width: 200px;
    margin: auto;
    word-wrap: break-word !important;
}

.row-carousel {
    overflow: auto;
    width: inherit;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}

.row__inner {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70.3125px 0;
    padding-bottom: 10px;
}

.tile {
    position: relative;
    display: inline-block;
    height: 250px;
    width: 200px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile__img {
    height: 250px;
    width: 200px;
    -o-object-fit: cover;
        object-fit: cover;
}

.tile__details {
    color: white !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;
}

.tile__details:after,
.tile__details:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
}

.tile__details:after {
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.tile__details:before {
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
}

.tile:hover .tile__details {
    opacity: 1;
}

.tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

/* hover effects */
.row__inner:hover {
    -webkit-transform: translate3d(-62.5px, 0, 0);
            transform: translate3d(-62.5px, 0, 0);
}

.row__inner:hover .tile {
    opacity: 0.3;
}

.row__inner:hover .tile:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
}

.tile:hover ~ .tile {
    -webkit-transform: translate3d(100px, 0, 0) !important;
            transform: translate3d(100px, 0, 0) !important;
}

/* scrollbar */

body::-webkit-scrollbar-track{
    background-color: #dddddd;
    z-index: 1 !important;
}

body::-webkit-scrollbar{
	width: 6px;
    background-color: #f9f9f9;
    z-index: 1 !important;
}

body::-webkit-scrollbar-thumb{
	border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: grey;
    z-index: 1 !important;
}