{% extends "template.html" %}
{% block title %}Books{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 {% if session['type'] == 'admin' %}l10{% endif %} center-align">
        <h3>Books List{% if session['type'] == 'admin' %} <a href="{{ url_for('new_book') }}" class="material-icons">add_circle_outline</a>{% endif %}</h3>
    </div>
</div>
<div class="row">
{% if session['type'] == 'admin' %}
    <div class="col s12 l10">
        {% for __, category in categories.items() %}
        <div class="col s12">
            <div id="{{ __.lower() }}" class="card hoverable section scrollspy">
                <div class="card-content">
                    <span class="card-title">{{ category }} <small>{{ len(books[__]) }}/50</small></span>
                    {% if len(books[__]) == 0 %}
                    <p class="grey-text lighten-2">No books under this category yet.</p>
                    {% else %}
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th>ISBN</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Call No.</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books[__] %}
                            <tr class="books">
                                <td>{{ book.isbn }}</td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.id }}</td>
                                <td>{{ book.status }}</td>
                                <td>
                                    <a class="material-icons grey-text" href="{{ url_for('admin_book', bookid=book._id) }}">pageview</a>
                                    <a class="material-icons red-text" href="{{ url_for('delete_book', bookid=book._id) }}">delete_forever</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col l2 hide-on-med-and-down toc">
        <div style="position: fixed !important;">
            <ul class="section table-of-contents">
                {% for __, category in categories.items() %}
                <li><a href="#{{ __.lower() }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    {% for __, category in categories.items() %}
        {% if(len(books[__]) != 0) %}
            <div class="col s12">
                <h4>{{ category }}</h4>
            </div>
            <div class="col s12">
                <div class="row-carousel">
                    <div class="row__inner">
                        {% for book in books[__] %}
                        <a href="{{ url_for('user_book', bookid=book._id) }}" class="tile">
                            <div class="tile__media">
                                <img src="{{ url_for('static', filename='bookcovers/{}.png'.format(book._id)) }}" alt="" class="tile__img">
                            </div>
                            <div class="tile__details">
                                <div class="tile__title">
                                    <p>{{ book.title }}</p>
                                    <p>{{ book.author }}</p>
                                    <p>{{ book.isbn }}</p>
                                    <p>{{ book.year }}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col s12">
                <br>
                <div class="divider"></div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
</div>
{% endblock %}
{% block onload_script %}
$('.scrollspy').scrollSpy();
{% endblock %}