{% extends "template.html" %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h3>
            <a href="{% if session['type'] == 'admin' %}{{ url_for('admin_books') }}{% else %}{{ url_for('user_books') }}{% endif %}" class="material-icons">arrow_back</a>
            {{ book.title }}
        </h3>
        <h6>{{ c(book.category) }}</h6>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="divider"></div>
        <br>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <h6 class="bookdetails_h6">{% if session['type'] == 'admin' %}<span class="material-icons grey-text text-darken-3 pointer edit">edit</span> {% endif %}Author: <span class="div"><span class="dettt grey-text text-darken-1">{{ book.author }}</span></span></h6>
        <h6 class="bookdetails_h6">{% if session['type'] == 'admin' %}<span class="material-icons grey-text text-darken-3 pointer edit">edit</span> {% endif %}ISBN: <span class="div"><span class="dettt grey-text text-darken-1">{{ book.isbn }}</span></span></h6>
        <h6 class="bookdetails_h6">{% if session['type'] == 'admin' %}<span class="material-icons grey-text text-darken-3 pointer edit">edit</span> {% endif %}Year published: <span class="div"><span class="dettt grey-text text-darken-1">{{ book.year }}</span></span></h6>
        <h6 class="bookdetails_h6">{% if session['type'] == 'admin' %}<span class="material-icons grey-text text-darken-3 pointer" style="visibility: hidden !important;">edit</span> {% endif %} Call No.: <span class="div"><span class="dettt grey-text text-darken-1">{{ book.id }}</span></span></h6>
    </div>
    <div class="col s12 m6 right-align">
        {% if session['type'] == 'admin' %}
        <div class="img-basket">
            <div class="bookcover">
                <div class="bookcovermedia">
                    <img src="{{ url_for('static', filename='bookcovers/{}.png'.format(book._id)) }}" alt="" class="shadow img-responsive bookcoverimg">
                </div>
                <div class="bookcoverdetails">
                    <div class="bookcovertitle">
                        <p class="material-icons {% if session['type'] == 'admin' %}pointer{% endif %}">edit</p>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <img src="{{ url_for('static', filename='bookcovers/{}.png'.format(book._id)) }}" alt="" class="shadow img-responsive bookcoverimg">
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <div class="divider"></div>
        <br>
        {% if book.status == 'onshelf' %}
        <a href="{{ url_for('reserve', bookid=book._id) }}" class="btn flat-blue">reserve</a>
        {% else %}
            {% if session['type'] != 'admin' %}
                {% if session['id'] == reservation.userid %}
                <button class="btn grey lighten-1" disabled>{{ book.status }}</button>
                {% else %}
                <button class="btn grey lighten-1" disabled>used by another user</button>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if session['type'] == 'admin' %}
        <input type="file" name="file" id="" form="form1" style="position: absolute; left: 3000% !important;">
        <button class="btn" type="submit" form="form1" style="position: absolute; left: 3000% !important;">save changes</button>
        <form action="{{ url_for('admin_update_bc', bookid=book._id) }}" method="POST" enctype="multipart/form-data" id="form1"></form>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block onload_script %}
let $image = $('p.pointer');
let $file = $('input[name=file]');
let $button = $('button');
$image.click(function(){
    $file.trigger('click');
});
$file.change(function(){
    $button.trigger('click');
});
$('.edit').each(function(){
    let $this = $(this);
    $this.click(function(){
        $this.css('visibility', 'visible');
        let $content = $this.parent().find('span.div');
        let prev = $content.find('span').html();
        $content.html('<input type="text" value="' + prev + '"><input type="submit" value="submit" class="btn btn-small">');
        let $new = $content.find('input[type="text"]');
        let $submit = $content.find('input[type="submit"]');
        $submit.click(function(){
            $content.html('<span class="dettt grey-text text-darken-1">' + $new.val() + '</span>');
            let arr = [];
            let index = 0;
            $('.dettt').each(function(){
                let $dettt = $(this);
                arr[index] = $dettt.html();
                index += 1;
            });
            let formData = {
                'author': arr[0],
                'isbn': arr[1],
                'year': arr[2],
                'id': arr[3],
                'bookid': '{{ book._id }}'
            }
            $.ajax({
                url: '{{ url_for("edit_book") }}',
                type: 'post',
                data: formData,
                success: function(result){
                    window.location = window.location;
                }
            });
            $this.css('visibility', 'hidden');
        });
    });
});
{% endblock %}