{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <img src="https://media.giphy.com/media/u00DkhlFRgkei3d3jG/giphy.gif" alt="" class="rounded" style="width: 10rem;">
        <h3>Welcome {% if session['type'] == 'admin' %} Admin{% else %} {{ session['id'] }}{% endif %}!</h3>
    </div>
    <div class="col l10 offset-l1 s12 center-align">
        <p class="">This is our Library Management System. Utilize the bar located on the left side of your screen to navigate through our system. {% if 'new' in session and session['new'] %}<br/><b>Click on the menu button (<small><i class="material-icons" style="font-size: 1rem;">menu</i></small>) on the bottom right of the screen to change your password.</b>{% endif %}</p>
    </div>
    <div class="col s12 center-align">
        <p><small class="grey-text">DISCLAIMER: </small><small class="grey-text text-lighten-1">Any action that you will do here will not be under the responsibility of the developers. By using this system, you acknowledge that your actions are yours alone.</small></p>
    </div>
</div>
<div class="row">
    {% if 'type' not in session %}
    <div class="col l6 offset-l3 s12 center-align">
        <div class="input-field">
            <input type="text" name="id" class="box" form="form1" placeholder="Student ID">
        </div>
        <div class="input-field">
            <input type="password" name="password" class="box" form="form1" placeholder="Password">
        </div>
        <button type="submit" class="gradient-background btn" form="form1" style="width: 23rem !important; border-radius: 24px !important;"><strong>submit</strong></button>
        <form id="form1" action="{{ url_for('login') }}" method="post"></form>
    </div>
    {% endif %}
</div>
{% endblock %}