{% extends "template.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row" style="margin-top: 10%;">
    <div class="col s12 center-align">
        <span class="material-icons" style="font-size: 10rem !important;">person_pin</span>
    </div>
</div>
<div class="row">
    <div class="col s6 offset-s3">
        <div class="input-field">
            <input id="id" type="text" class="validate">
            <label for="id">ID</label>
        </div>
        <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
        </div>
        <div class="input-field center-align">
            <button class="btn btn-large flat-green">login</button>
        </div>
    </div>
</div>
{% endblock %}