{% extends "template.html" %}
{% block title %}Requirements{% endblock %}
{% block content %}
<div class="row">
	<div class="col s12">
		<h3>Requirements</h3>
	</div>
</div>
<div class="row">
	<div class="col s12 center-align">
		<table>
			<tbody>
				<tr><td>
					shelf info:
					<ol>
						<li>shelfid</li>
						<li>shelf capacity</li>
					</ol>
				</td></tr>
				<tr><td>
					<strike>
						book info:
						<ol>
							<li>isbn number</li>
							<li>title</li>
							<li>author</li>
							<li>year of publication</li>
							<li>copy number</li>
							<li>shelfid</li>
							<li>current status (onloan, onshelf, onhold, onloanandonhold)</li>
						</ol>
					</strike>
				</td></tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}