{% extends "template.html" %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h3>
            <a href="{% if session['type'] == 'admin' %}{{ url_for('admin_reservations') }}{% else %}{{ url_for('user_reservations') }}{% endif %}" class="material-icons">arrow_back</a>
            {{ book.title }}
        </h3>
        <h6>{{ c(book.category) }}</h6>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="divider"></div>
        <br>
    </div>
</div>
<div class="row">
    <div class="col l6 s12">
        <h5>Reservation Details:</h5>
        <h6>ID: <span class="grey-text text-darken-1">{{ reservation._id }}</span></h6>
        <h6>Fine: <span class="grey-text text-darken-1">{% if reservation.debt != None %}₱ {{ reservation.debt }}{% else %}<span style="font-size: 1rem !important;">Debt will be computed after returning the book.</span>{% endif %}</span></h6>
        <h6>Timestamp: <span class="grey-text text-darken-1">{{ get_year_from_timestamp(reservation.timestamp) }}</span></h6>
        <hr>
        <h5>Book Details</h5>
        <h6>Author: <span class="grey-text text-darken-1">{{ book.author }}</span></h6>
        <h6>ISBN: <span class="grey-text text-darken-1">{{ book.isbn }}</span></h6>
        <h6>Year published: <span class="grey-text text-darken-1">{{ book.year }}</span></h6>
        <h6>Call No.: <span class="grey-text text-darken-1">{{ book.id }}</span></h6>
        <br>
        <div class="divider"></div>
        <h5>User Details</h5>
        <h6>ID: <span class="grey-text text-darken-1">{{ user.id }}</span></h6>
        <h6>Name: <span class="grey-text text-darken-1">{{ user.first.upper() }} {{ user.last.upper() }}</span></h6>
    </div>
    <div class="col l6 s12 res">
        <img src="{{ url_for('static', filename='bookcovers/{}.png'.format(book._id)) }}" alt="" class="shadow img-responsive bookcoverimg">
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <div class="divider"></div>
        <br>
        {% if reservation.status == BOOK_STATUS.RESERVED %}
            {% if session['type'] == 'admin' %}
                <a href="{{ url_for('confirm', rid=reservation._id) }}" class="btn flat-blue">confirm</a>
            {% else %}
                {% if session['id'] == reservation.userid %}
                <button class="btn grey lighten-1" disabled>pending</button>
                {% else %}
                <button class="btn grey lighten-1" disabled>reserved by another user</button>
                {% endif %}
            {% endif %}
        {% elif reservation.status == BOOK_STATUS.BORROWED %}
            {% if session['id'] != reservation.userid %}
            <a href="{{ url_for('return_book', rid=reservation._id) }}" class="btn red lighten-2">return</a>
            {% else %}
            <button class="btn grey lighten-1" disabled>borrowed by the user</button>
            {% endif %}
        {% else %}
            <button class="btn grey lighten-1" disabled>returned</button>
        {% endif %}
        {% if session['type'] == 'admin' %}
        <input type="file" name="file" id="" form="form1" style="position: absolute; left: 3000% !important;">
        <button class="btn" type="submit" form="form1" style="position: absolute; left: 3000% !important;">save changes</button>
        <form action="{{ url_for('admin_update_bc', bookid=book._id) }}" method="POST" enctype="multipart/form-data" id="form1"></form>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block onload_script %}
let $image = $('.pointer');
let $file = $('input[name=file]');
let $button = $('button');
$image.click(function(){
    $file.trigger('click');
});
$file.change(function(){
    $button.trigger('click');
});
{% endblock %}