{% extends "template.html" %}
{% block title %}Reservations{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h3>Reservations List</h3>
    </div>
</div>
{% if session['type'] == 'admin' %}
<div class="row">
    <div class="col s12">
        <div class="card hoverable">
            <div class="card-content">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Book Title</th>
                            <th>Timestamp</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.userid }}</td>
                            <td>{{ title(reservation.bookid) }}</td>
                            <td>{{ get_year_from_timestamp(reservation.timestamp) }}</td>
                            <td>{{ reservation.status }}</td>
                            <td>
                                <a class="material-icons grey-text" href="{{ url_for('admin_reservation', rid=reservation._id) }}">pageview</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="row">
        {% if len(reservations) > 0 %}
            {% for __, category in categories.items() %}
                {% if if_category_has_reservations(__, reservations) %}
                    <div class="col s12">
                        <h4>{{ category }}</h4>
                    </div>
                    <div class="col s12">
                        <div class="row-carousel">
                            <div class="row__inner">
                                {% for reservation in reservations %}
                                    {% set book = get_book_details(reservation.bookid) %}
                                        {% if book.category == __ %}
                                            <a href="{{ url_for('user_reservation', rid=reservation._id) }}" class="tile">
                                                <div class="tile__media">
                                                    <img src="{{ url_for('static', filename='bookcovers/{}.png'.format(book._id)) }}" alt="" class="tile__img">
                                                </div>
                                                <div class="tile__details">
                                                    <div class="tile__title">
                                                        <p>{{ book.title }}</p>
                                                        <p>{{ get_category(book.category) }}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <br>
                        <div class="divider"></div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="col s12 center-align">
                <p class="grey-text">No reservations yet. Click <a href="{{ url_for('user_books') }}">here</a> to view our books.</p>
            </div>
        {% endif %}
    </div>
{% endif %}
{% endblock %}