<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='hover-min.css') }}">
    <title>{% block title %}{% endblock %} | LMS</title>
</head>

<body>
    <header class="header">

        <nav class="navigation">

            <section class="logo"></section>

            <section class="navigation__icon">
                <span class="topBar"></span>
                <span class="middleBar"></span>
                <span class="bottomBar"></span>
            </section>

            <ul class="navigation__ul">
                {% if 'type' in session %}
                    <br><li>
                        <div class="card">
                            <div class="card-content center-align flat-green-text text-darken-4">
                                <div class="usercard">
                                    <span class="material-icons rounded icn">person</span>
                                    <div class="divider"></div>
                                </div>
                                <h5>{{ session['id'] }}</h5>
                            </div>
                        </div>
                        
                    </li><br>
                    {% if session['type'] == 'admin' %}
                        <li><a href="{{ url_for('students') }}" class="hvr-underline-from-right">STUDENTS</a></li><br>
                        <li><a href="{{ url_for('admin_books') }}" class="hvr-underline-from-right">BOOKS</a></li><br>
                        <li><a href="{{ url_for('admin_reservations') }}" class="hvr-underline-from-right"><small>RESERVATIONS</small></a></li><br>
                    {% elif session['type'] == 'user' %}
                        <li><a href="{{ url_for('user_books') }}" class="hvr-underline-from-right">BOOKS</a></li><br>
                        <li><a href="{{ url_for('user_reservations') }}" class="hvr-underline-from-right"><small>RESERVATIONS</small></a></li><br>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}" class="hvr-underline-from-right">LOGOUT</a></li><br>
                {% else %}
                    <li><a href="" class="hvr-underline-from-right">ABOUT US</a></li><br>
                    <li><a href="" class="hvr-underline-from-right">AUTHORS</a></li><br>
                {% endif %}
            </ul>

            <section class="navigation__social">
                <ul class="navigation__social-ul">
                    <li>
                        <a href="" class="social-icon"></a>
                    </li>
                    <li>
                        <a href="" class="social-icon"></a>
                    </li>
                    <li>
                        <a href="" class="social-icon"></a>
                    </li>
                    <li>
                        <a href="" class="social-icon"></a>
                    </li>
                </ul>
            </section>

        </nav>
        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            {% if 'new' in session and session['type'] != 'admin' %}
            <div>
                <div class="fet">
                    <div style="position: fixed;">
                        <a id="menu" class="waves-effect waves-light btn btn-floating"><i class="material-icons">menu</i></a>
                    </div>
                </div>
                <div class="tap-target gradient-background" data-target="menu">
                    <div class="tap-target-content white-text">
                        <div class="row">
                            <div class="col s10 offset-s2">
                                <h6>Change your password</h6>
                                <input type="password" name="old_pass" placeholder="Old password">
                                <input type="password" name="new_pass" placeholder="New password">
                                <input type="password" name="confirm_new_pass" placeholder="Confirm new password">
                                <button id="changepass" class="btn btn-small">submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </main>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        window.onload = function(){
            M.AutoInit();
            let $main = $('main');
            $(".navigation__icon").click(function () {
                $(".navigation").toggleClass('navigation-open');
            });
            {% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						M.toast({
							html: `{{ message }}`,
							classes: 'rounded',
						});
					{% endfor %}
				{% endif %}
			{% endwith %}
            {% block onload_script %}
            {% endblock %}
            let boolean = false;
            let $menu = $('#menu');
            $menu.click(function(){
                $('.tap-target').tapTarget('open');
            });
            let $changepass = $('#changepass');
            $changepass.click(function(event){
                event.preventDefault();
                $changepass.html('loading...');
                $changepass.attr('disabled', true);
                let old_pass = $('input[name="old_pass"]').val();
                let new_pass = $('input[name="new_pass"]').val();
                let confirm_new_pass = $('input[name="confirm_new_pass"]').val();
                $.ajax({
                    url: '{{ url_for("changepassword") }}',
                    type: 'post',
                    data: {
                        'old_pass': old_pass,
                        'new_pass': new_pass,
                        'confirm_new_pass': confirm_new_pass
                    },
                    success: function(result){
                        M.toast({
                            html: result.message,
                            classes: 'rounded',
                        });
                        setTimeout(() => {
                            $changepass.html('submit');
                            $changepass.attr('disabled', false);
                        }, 1750);
                        $('input[name="old_pass"]').val('');
                        $('input[name="new_pass"]').val('');
                        $('input[name="confirm_new_pass"]').val('');
                    }
                });
            });
        };
        {% block offload_script %}
        {% endblock %}
    </script>
</body>

</html>